<!-- フラッシュメッセージ -->
<% if flash[:notice] %>
      <div class="flash">
        <p class="text"><%= flash[:notice] %></p>
      </div>
 <% end %>

<div class="body">
	<div class="container">
		<p id="notice"></p>

		<div class="row">
			<div class="col-xs-3">
				<%= render 'users/cope', user: @book.user %>
				<!-- 新規投稿部分（共通テンプレ？） -->
				<%= render 'books/list', book: Book.new %>
			</div>

			<!-- ログインユーザーの投稿一覧 -->

			<div class="col-xs-9">
				<h2>Book detail</h2>

				<table class="table table-hover table-inverse">
					
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<!-- 繰り返さない -->
					
						<tbody>
							<tr class="book_<%= @book.id %>">
								
								
								<%= render 'detail', book: @book %>
							

							</tr>
						</tbody>
					
				</table>
				
				<table class="show-tb comment_<%= @book.id %>">
					<%= render 'comment', book_comments: @book.book_comments %>
				</table>

				<%= form_with model:[@book, @book_comment], data: {remote: true} do |f| %>
					<%= f.text_area :comment,  rows:'5', class: "form-control",placeholder: "コメントをここに" %>
  					<%= f.submit 'コメントする' %>
				<% end %>
				
			</div>
			
		</div>
		
	</div>
	
</div>